/* Add CSS Styling */
.odd{
    background-color:pink;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
    font-size: 24px;
}
.adjust-font-size{
    font-size: 24px;
}
#two{
    color: blue;
    font-size: 36px;
}
.third{

}
#fourth{
    background-color: greenyellow;
    font-weight: bold;
}