/* Add CSS Styling */
#first-element{
    background-color: black;
    color: white;
}
#second-element{
    background-color: yellow;
}

.font-style{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', Times, sans-serif;
}